{% extends 'paginas/modelo.html' %}

{% load static %}


{% block titulo_pagina %}
    <h1 align="center">LISTA DE USUÁRIOS CADASTRADOS</h1>
{% endblock titulo_pagina %}

{% block conteudo %}

<p align=center>
LISTA DE PEDIDOS
</p>

<div class="container">
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Função</th>
                <th>Nível</th>
                <th>Opcões</th>
            </tr>

            {% for Usuario in object_list %}

                <tr>
                    <td>{{Usuario.pk}}</td>
                    <td>{{Usuario.nome_usuario}}</td>
                    <td>{{Usuario.funcao_usuario}}</td>
                    <td>{{Usuario.nivel_usuario}}</td>

                    <td>
                        <a href="{% url 'editar-usuario' Usuario.pk %}" class="btn btn-warning btn-sm" title="Editar">
                            <i class="faS fa-user-times" aria-hiden="true"></i><
                                /a>
                        <a href="{% url 'excluir-usuario' Usuario.pk %}" class="btn btn-danger btn-sm" title="Excluir"><i class="fa fa-apple" aria-hidden="true">X</i></a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum campo registrado</td>
                </tr>

            {% endfor %}

        </table>
    </div>
</div>
{% endblock conteudo %}
