{% load static %}

<!DOCTYPE HTML>

<html lang=”pt-br”>
<head>
    <title>Modelo</title>
    <meta charset=”UTF-8”>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

</head>
<body>
    <h1>Teste do bootstrap</h1>
    <div class ="bg-light">
        Código do menu
    </div>

    <div class ="bg-secondary">
        Destaques da página
    </div>

    <div class ="container">
        <p>
        Conteudo do site
        </p>
    </div>

    <div class ="bg-light">
        Rodapé
    </div>
    <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</html>